body {
    background-color: #AADEF8;
    overflow-x: hidden;
    margin: 0px;
}

/*INVISIBLE LETTERS AND VISIBLE FRAGMENTS*/

/*Default properties for all letters*/
:root {
    --letter-height: 120px;
    --letter-margin-bottom: calc(var(--letter-height)/-3);
}

.letterContainer {
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    height: var(--letter-height); 
 
}

/*first Container needs the margin to match margin from the class .letter*/
.firstContainer {
    margin-bottom: var(--letter-margin-bottom);
}

.fragmentContainer {
    height: var(--letter-height);
    position: relative;
    margin-bottom: var(--letter-margin-bottom);
}

.letter {
    height: var(--letter-height);
    margin-right: -4px; /*calc(var(--letter-height)*-1/100);*/
    /* border: 1px solid rgba(0, 0, 0, 0.8); */ /*helper*/
    margin-bottom: var(--letter-margin-bottom);
}

.transparent {
    opacity: 0; /*<<<<<<<<<<<<<<<<<<<<<<<<< TRANSPARENT*/
}

.fragmentsEn {
    height: var(--letter-height);
    position: absolute; 
    top: 0px;
    left: 0px;
}

.fragmentsDe {
    height: var(--letter-height);
    position: absolute;
    top: 0px;
    left: 0px;
}

/*TEXTBLOCK ANIMATION*/

.textblock-wrapper {
    height: calc(var(--letter-height)*2.5);
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: calc(var(--letter-height)/22);
    margin-bottom: var(--letter-margin-bottom);

    font-family: Helvetica;
    font-weight: 900;
    font-size: calc(var(--letter-height)/6);
    line-height: calc(var(--letter-height)/6);
}

.animation-textblock {
    position: absolute; 
    top: 0; 
    left: -500px;

    animation-name: textblock;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.48,0,0,1);
    animation-fill-mode: forwards; 
    animation-delay: 0.2s;
} 

@keyframes textblock {
    to {left: 0px;}
  }

.textblock {
    position:relative; 
}


/* Bootstrap oriented Responsive design*/

@media (min-width: 576px) { 
    :root {
        --letter-height: 160px;
    }

    .textblock-wrapper {
        height: var(--letter-height);
        width: 25%;

        align-items: center;
        padding-left: calc(var(--letter-height)/22);
        margin-bottom: var(--letter-margin-bottom);

        font-size: calc(var(--letter-height)/16);
        line-height: calc(var(--letter-height)/16);
    }
 }

@media (min-width: 768px) { 
    :root {
        --letter-height: 220px;
    }
 }

@media (min-width: 992px) { 
    :root {
        --letter-height: 230px;
    }
}

@media (min-width: 1200px) { 
    :root {
        --letter-height: 280px;
    }
}

@media (min-width: 1400px) { 
    :root {
        --letter-height: 340px;
    }
}