/* if trash got out of view, if material, look to which letter you belong to and go to this position

OPEN FOR MAINTENANCE (18 letters)(ca. 200 fragments)
- Für A müssen vier Positionen festgelegt werden

/*WHAT HAPPENS WITH TRASH?*/

body {
    background-color: #AADEF8;
}

@keyframes textblock {
    to {left: 20px;}
  }

.textblock {
    animation-name: textblock;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  
    animation-delay: 2s;
}

/*WHERE IS THE ORIGINAL MATERIAL?*/

.position1 {
    top: 80px;
    left:80px;
}

.position2 {
    top: 300px;
    left: 400px;
}

.position3 {
    top: 250px;
    left: 0px;
}

.position4 {
    top: 500px;
    left: 40px;
}

.position4 {
    top: 500px;
    left: 40px;
}

.position4 {
    top: 500px;
    left: 40px;
}


/*WHAT HAPPENS WITH TRASH?*/

@keyframes goSomewhere {
    to {top: -1000px; left: -1000px;}
  }

.goSomewhere {
    animation-name: goSomewhere;
}

/*GO TO ORIGIN*/

@keyframes goToOrigin {
    to {top: 0px; left: 0px;}
  }

.goToOrigin {
    animation-name: goToOrigin;
}

/*Default properties for all letters*/

.letter {
    height: 250px;
    margin-bottom: -70px;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

@media only screen and (min-width: 1440px) {
    .letter {
        height: 350px;
    }
  }

.animation {
    position: absolute;

    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  
    animation-delay: 2s;

    /*animation-iteration-count: infinite;*/
    /*animation-direction: alternate-reverse;*/
}

.transparent {
    opacity: 0;
}