body {
    background-color: #AADEF8;
    height: 2500px; 
    overflow-x: hidden;
    margin: 0px;
}

@font-face {
    font-family: 'SHBDA';
    src: url('fonts/SH-Maintenance.woff');
   }

.ss00 .ss05 .ss06 .ss07 .ss08 .ss09 .ss010 .ss011 .ss012 .ss013 .ss014 .ss015 .ss016 {
    font-feature-settings: 'ss00';
}

.ss01 {
    font-feature-settings: 'ss01';
}

.ss02 {
    font-feature-settings: 'ss02';
}

.ss03 {
    font-feature-settings: 'ss03';
}

.ss04 {
    font-feature-settings: 'ss04';
}

a {
    font-family: 'SHBDA', Arial, sans-serif;
}

.scrollHead {
    position: fixed;  
    top: -500px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    z-index: 20;
}

.typeAlternates {
    margin-left: -2.5px;
}

.headline {
    font-size: 25px;
    margin-left: -2px;
}

@keyframes textblock {
    to {left: 15px;}
  }

.textblock {
    animation-name: textblock;
}

.animation-textblock {
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.48,0,0,1);
    animation-fill-mode: forwards; 
    animation-delay: 0.2s;
} 

/*Default properties for all letters*/
:root {
    --letter-height: 220px;
}

.fragmentContainer {
    display: flex; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    min-height: var(--letter-height); 
    /*margin-top: -30px;*/
}

.letter {
    height: var(--letter-height);
    /*margin-bottom: -70px;*/
    margin-right: -4px;
    margin-bottom: -70px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.fragmentsEn {
    height: var(--letter-height);
    position: absolute; 
    top: 0px;
    left: 0px;
}

.fragmentsDe {
    height: var(--letter-height);
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Bootstrap oriented Responsive design*/

@media (min-width: 576px) { 
    :root {
        --letter-height: 250px;
    }
 }

@media (min-width: 768px) { 
    :root {
        --letter-height: 260px;
    }
 }

@media (min-width: 992px) { 
    :root {
        --letter-height: 270px;
    }
}

@media (min-width: 1200px) { 
    :root {
        --letter-height: 280px;
    }
}

@media (min-width: 1400px) { 
    :root {
        --letter-height: 340px;
    }
}

.transparent {
    opacity: 0.2;
}